@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);
@import url(nav.css)
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* center the canvas in the viewport */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F1EFE2;
}

button {
    padding: 0.6rem 0.6rem;
    border: none;
    background: #F1EFE2;
    font-family: sans-serif;
    font-size: 1.2em;
}
